img{
  border-radius: 50%;
  display: block;
}

header{
  text-align: center;
  font-size: 30pt;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #b3b3b3;
  border-top: 20%;
}

#me{
  border-radius: 30%;
  display: block;
  margin: auto;
  border: 25%;
  padding: 15;
  width: 25%%;
  height: auto;
  float: inherit;
}

.port{
  font-size: 14pt;
  font-family:monospace;
}

h3{
  font-family: 'Bangers', cursive;
}
