img{
  border-radius: 50%;
  display: block;
}

header{
  text-align: center;
  font-size: 30pt;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #b3b3b3;
}

#me{
  border-radius: 30%;
  display: block;
}
